<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example42041.shayariapp2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShayariApp2021">
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>


        <activity android:name=".categories.Attitude"/>
        <activity android:name=".categories.BestWishesh"/>
        <activity android:name=".categories.BirthDay"/>
        <activity android:name=".categories.Couple"/>
        <activity android:name=".categories.FriendShipDay"/>
        <activity android:name=".categories.Funny"/>
        <activity android:name=".categories.God"/>
        <activity android:name=".categories.GoodMorning"/>
        <activity android:name=".categories.GoodNight"/>
        <activity android:name=".categories.Love"/>
        <activity android:name=".categories.Romantics"/>
        <activity android:name=".categories.ValentineDay"/>

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>


</manifest>